---
layout: mylayout.njk
---
<div class="centered-block">
  <h1>I'm <span class="colorful-text">Jason Sturgeon</span>.</h1>
  <h1>I make web apps.</h1>
</div>

<h2>Projects</h2>

<div class="project-card">
  <div class="project-card__header">
    <a href="https://www.story-time.net/"><h3>Story Time</h3></a>
  </div>
  <div class="project-card__body">
    <img src="images/galaxies.png" alt="A picture of a galaxy">
    <div class="project-card__body__text">
      <p>{{story_time_tagline}}</p>
      <p class="details">{{story_time_details}}</p>
    </div>
    <div class="accordion">
      <div class="accordion-header">
        <svg class="caret-icon" width="24" height="24" viewBox="0 0 30 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="4 9 16 15 27 9" />
        </svg>
      </div>
      <div class="accordion-content">
        <p class="details-small">{{story_time_details}}</p>
      </div>
    </div>
  </div>
</div>

<div class="project-card">
  <div class="project-card__header">
    <a href="https://www.akakemushi.com/main.php"><h3>HSU Quiz Site</h3></a>
  </div>
  <div class="project-card__body">
    <img src="images/HSUQuiz.png" alt="A picture of the quiz site">
    <div class="project-card__body__text">
      <p>{{hsu_quiz_tagline}}</p>
      <p class="details">{{hsu_quiz_details}}</p>
    </div>
    <div class="accordion">
      <div class="accordion-header">
        <svg class="caret-icon" width="24" height="24" viewBox="0 0 30 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="4 9 16 15 27 9" />
        </svg>
      </div>
      <div class="accordion-content">
        <p class="details-small">{{hsu_quiz_details}}</p>
      </div>
    </div>
  </div>
</div>

<div class="project-card">
  <div class="project-card__header">
    <a href="https://chapter-journals.com/"><h3>Chapter Journals</h3></a>
  </div>
  <div class="project-card__body">
    <img src="images/Trueself.png" alt="A picture of a journal">
    <div class="project-card__body__text">
      <p>{{chapter_tagline}}</p>
      <p class="details">{{chapter_details}}</p>
    </div>
    <div class="accordion">
      <div class="accordion-header">
        <svg class="caret-icon" width="24" height="24" viewBox="0 0 30 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="4 9 16 15 27 9" />
        </svg>
      </div>
      <div class="accordion-content">
        <p class="details-small">{{chapter_details}}</p>
      </div>
    </div>
  </div>
</div>

<div class="project-card">
  <div class="project-card__header">
    <a href="https://github.com/Akakemushi/shinkouen"><h3>Shinkouen Teapots (github repo only)</h3></a>
  </div>
  <div class="project-card__body">
    <img src="images/teapot24.jpg" alt="A picture of a teapot">
    <div class="project-card__body__text">
      <p>{{shinkouen_tagline}}</p>
      <p class="details">{{shinkouen_details}}</p>
    </div>
    <div class="accordion">
      <div class="accordion-header">
        <svg class="caret-icon" width="24" height="24" viewBox="0 0 30 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="4 9 16 15 27 9" />
        </svg>
      </div>
      <div class="accordion-content">
        <p class="details-small">{{shinkouen_details}}</p>
      </div>
    </div>
  </div>
</div>

<div class="project-card">
  <div class="project-card__header">
    <a href="https://lewagonrace.netlify.app/"><h3>Le Wagon Race</h3></a>
  </div>
  <div class="project-card__body">
    <img src="images/wagon_race.png" alt="A picture of a teapot">
    <div class="project-card__body__text">
      <p>{{wagon_race_tagline}}</p>
      <p class="details">{{wagon_race_details}}</p>
    </div>
    <div class="accordion">
      <div class="accordion-header">
        <svg class="caret-icon" width="24" height="24" viewBox="0 0 30 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="4 9 16 15 27 9" />
        </svg>
      </div>
      <div class="accordion-content">
        <p class="details-small">{{wagon_race_details}}</p>
      </div>
    </div>
  </div>
</div>

<div class="project-card">
  <div class="project-card__header">
    <a href="https://alsaciuscipher.netlify.app/"><h3>Alsacius's Cipher</h3></a>
  </div>
  <div class="project-card__body">
    <img src="images/Alsacius-Cipher.png" alt="A picture of part of the website">
    <div class="project-card__body__text">
      <p>{{kellogg_cipher_tagline}}</p>
      <p class="details">{{kellogg_cipher_details}}</p>
    </div>
    <div class="accordion">
      <div class="accordion-header">
        <svg class="caret-icon" width="24" height="24" viewBox="0 0 30 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="4 9 16 15 27 9" />
        </svg>
      </div>
      <div class="accordion-content">
        <p class="details-small">{{kellogg_cipher_details}}</p>
      </div>
    </div>
  </div>
</div>
