---
layout: mylayout.njk
---
<div class="centered-block">
  <h1>Hi.<span class="inline-gap"></span> I'm Jason Sturgeon.</h1>
  <h1>I make web apps.</h1>
</div>
<h2>Projects</h2>
<div class="project-card">
  <div class="project-card__header">
    <h3>Story Time</h3>
  </div>
  <div class="project-card__body">
    <img src="./images/galaxies.png" alt="A picture of a galaxy"></img>
    <div class="project-card__body__text">
      <p>{{story_time_tagline}}</p>
      <p class="details">{{story_time_details}}</p>
    </div>
  </div>
</div>
<div class="project-card">
  <div class="project-card__header">
    <h3>HSU Quiz Site</h3>
  </div>
  <div class="project-card__body">
    <img src="./images/galaxies.png" alt="A picture of a galaxy"></img>
    <div class="project-card__body__text">
      <p>{{hsu_quiz_tagline}}</p>
      <p class="details">{{hsu_quiz_details}}</p>
    </div>
  </div>
</div>
