---
my_name: Jason Sturgeon
my_job: Web Dev
story_time_tagline: Improve your English vocabulary through fun stories told by an AI storyteller!
story_time_details: This was the final project of my team while I was studying web development at Le Wagon, Tokyo.  My role was mostly back-end development, using Ruby on Rails, Redis, Sidekiq, PostgreSQL, Cloudinary, and OpenAI's ChatGPT and Dall-E-3 APIs. On front-end, I designed and implemented the story-creation interface and the loading page animation. One of my biggest achievements for this project was being able to substantially cut API-call wait times between story pages by using background jobs to generate subsequent story text and images. Thanks so much to my team members Alex Voler, who came up with the app idea, and Glenn Torrens for their hard work on this project.
hsu_quiz_tagline: Prepare for your next English quiz!
hsu_quiz_details: This was my first ever web app (mobile first), which I developed all on my own through self-study and trial-and-error before ever setting foot inside of a coding classroom. It uses simple HTML, CSS and a bit of JavaScript for the front-end, and MySQL and PHP for the back-end. I learned so much about web dev from the project, and in the end it was successfully launched and hosted on iPage, where it is still up and running today. Myself and another teacher I work with manage the question bank through a UI, adding and deleting questions as needed of three types, multiple choice, spelling, and sentence scrambles. There is a cumulative score leaderboard just for fun, and plans to implement personalized statistics for each user. There is no git repository for it because, well, I didn't know such things existed at the time!
chapter_tagline: A client's Shopify site selling high-quality journals and pens.
chapter_details: A client came to me needing help with CSS and template management for a shopify site that they had built.  The problem the client faced was that the code for the site had become unweildy due to the CSS structure and repeated code used.  I helped the client by refactoring their CSS code for reusability and creating templates for ease of future product releases.
shinkouen_tagline: E-commerce site selling artisan Japanese teapots.
shinkouen_details: (WIP) This is a Ruby on Rails repository (not live) that I am developing for a client.  Stripe payment systems will be integrated into the site for improved UX.  The specs include being able to browse all wares, search for specific teapots, and view the specific details of each teapot.  I created some custom graphics for the site, such as a digital version of the company logo and icons representing various dimensions and measurements for the various teapots.
wagon_race_tagline: A fun little time-waster to showcase some of my CSS and JavaScript skills.
wagon_race_details:  This game was initially created as part of a lesson during my time at the Le Wagon bootcamp, now I'm improving and expanding upon it just for fun. So far I have added a cool parallax-effect jungle background, and I plan to make the 'race' aspect of the game feel more fluid through JavaScript next.
kellogg_cipher_tagline: A 'secret-code' type cipher for D&D puzzles.
kellogg_cipher_details:  This is a site that takes a message and outputs an encrypted version.  It takes a string of up to 10,000 characters, and puts it through a wide variety of different cyphers before outputing the encoded message.  It was designed to be a puzzle for the players in my D&D game, but feel free to use it for your own purposes or in your own game! Naturally there is a "decipher" function as well. The cypher is designed to be difficult (but not impossible) for a human to break. This app is just for fun, so please do not use this for any REAL security purposes, lol.
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bundle.css">
    <script src="/accordion.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/x-icon" href="akakemushi-orange-48.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>{{ word }}</title>
  </head>
  <body>
    {{ content | safe }}
    <div class="footer">
      <a class="social-icon" href="mailto:zergyjanus@gmail.com"><img src="./images/email-green.png" alt="Link to Email"></a>
      <a class="social-icon" href="https://discordapp.com/users/Akakemushi#0969"><img src="./images/discord-green.png" alt="Link to Discord"></a>
      <a class="social-icon" href="https://github.com/Akakemushi"><img src="./images/github-green.png" alt="Link to Github"></a>
      <a class="social-icon" href="https://www.instagram.com/jason.sturgeon.37"><img src="./images/instagram-green.png" alt="Link to Instagram"></a>
      <a class="social-icon" href="https://line.me/ti/p/noDa6KP5jw"><img src="./images/line-green.png" alt="Link to Line"></a>
      <a class="social-icon" href="https://www.linkedin.com/in/jason-sturgeon-web-dev"><img src="./images/linkedin-green.png" alt="Link to LinkedIn"></a>
      <a class="social-icon" href="https://www.youtube.com/@akakemushi439"><img src="./images/youtube-green.png" alt="Link to YouTube"></a>
    </div
  </body>
</html>
